.outer-div {
    margin: 5%;
}

.profile-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: top center;
}

.profile-header{
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    letter-spacing: 3px;
    padding-left: 20px;
    padding-right: 20px;
}

.profile-info-div {
    border-radius: 20px;
    padding: 20px;
    max-width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.result-summary-header {
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.result-summary-subtitle {
    text-align: center;
    letter-spacing: 2px;
}

.result-summary-data {
    text-align: center;
}

.passed-class {
    background-color: #00bdaa;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.failed-class {
    background-color: #d9455f;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.not-found-header{
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    letter-spacing: 3px;
    padding-left: 20px;
    padding-right: 20px;
}

.mat-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.result-summary-subtitle {
    letter-spacing: 2px;
}

.profile-subtitle-span {
    margin-right: 10px;
}